@import "tailwindcss";

body,
html {
  font-family: "DM Sans", sans-serif;
}
.playfair {
  font-family: "Playfair Display", serif;
}

.swiper-slide-custom {
  width: 80%;
}

.mySwiper {
  overflow: visible;
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 0 rgba(242, 109, 82, 0.6);
  }
  70% {
    box-shadow: 0 0 20px 15px rgba(242, 109, 82, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(242, 109, 82, 0);
  }
}

.animate-pulse-custom {
  animation: pulseGlow 2s infinite;
}
